:root {
  --initialLetterScale: 0.45;
  --transition: 500ms;
  --font: 'great vibes';
  --fontSize: larger;
  --opacity: 0;
  --color1: white;
  --color2: black;
} * {
  user-select: none;
  font-family: "great vibes";
  font-weight: bold;
} .transition {
  transition: all var(--transition);
} .center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%; top: 50%;
} body {
  background-color: var(--color1);
  margin: 0;
  width: 100vw; height: 100dvh;
  overflow: hidden;
}

.gallery {
  opacity: 0; pointer-events: none;
  width: 100vw; height: 100dvh;
  backdrop-filter: blur(5px) contrast(25%);
  box-sizing: border-box; padding: 30% 10%;
}
.show {
  opacity: 1; pointer-events: all;
}
  .container {
    position: relative;
    font-family: 'great vibes';
    text-align: center;
    width: 100%; height: 100%;
    background-color: var(--color1);
    border-radius: 3pc 0;
    display: flex; flex-direction: column;
  }
    .fa-x {
      position: absolute;
      margin: 2%;
      right: 0;
      color: var(--color2);
    }
    .gallery-title {
      font-size: xx-large;
      color: var(--color2);
    } .letters {
      flex-grow: 1;
      overflow-y: scroll;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-auto-rows: 1fr;
    }
    .letters > * {
        position: relative;
        width: 100%;
        aspect-ratio: 1/1;
        color: black;
      }

.header {
  --iconSize: 7%;
  --icons: repeat(2, var(--iconSize));
  position: absolute;
  font-size: larger;
  width: 100vw; height: 50px;
  display: grid;
  grid-template-columns: var(--icons) calc(100% - (var(--iconSize) * 4)) var(--icons);
  place-items: center;
}
  .header > .fa-regular {
    color: var(--color2);
  } .font {
    font-family: var(--font);
    font-weight: bolder;
  }

.envelope {
  transform: translate(-50%, -50%);
  width: 100vw;
  /* filter: contrast(0); */
} .text {
  font-size: xx-large;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10%;
} .remaining {
  width: 80%;
  text-align: center;
  font-size: xx-large;
} .card {
  width: auto;
  height: auto;
} .letter {
  scale: var(--initialLetterScale);
  opacity: var(--opacity);
  display: block;
  width: auto;
  height: auto;
} .content {
  scale: var(--initialLetterScale);
  opacity: var(--opacity);
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15%;
  opacity: 0.7;
  letter-spacing: 0;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  box-sizing: border-box;
}
  .content > .title {
    --color1: transparent;
    --color2: black;
    height: auto;
    text-emphasis: filled triangle rgba(255,0,0,0.7);
    background-image: url('images/fluid.gif'); background-clip: text;background-size: cover;
    text-align: center; font-weight: bolder; font-size: 45px;
    color: var(--color1);
    -webkit-text-stroke: 0.5px var(--color2);
  }
    .content > .title > .heart {
      color: rgba(255, 0, 0, 0.7);
    }
  .content > .paragraph {
    font-family: var(--font);
    font-size: var(--fontSize);
    flex-grow: 1;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    mix-blend-mode: multiply;
    place-items: center;
    color: black;
  }
